.container {
    width: 75vw;
    height: 75vh;
    border-radius: 30px;
    border: 2px solid #ccc;
    padding: 20px;
    margin: 10px;
    background-color: #ada7a7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.column {
    overflow-y: auto;
}

.column::-webkit-scrollbar {
    width: 10px;
}

.column::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px;
}

.column::-webkit-scrollbar-track {
    background-color: #ddd;
}