.todo-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 5px;
    background-color: #000000;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.todo-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.todo-description {
    color: #888;
}